In [94]:
import pandas as pd

First, let's take a look at the data set we have to work with.

In [95]:
df = pd.read_excel("data.xlsx")

In [96]:
df.head(6)

,Name,Address,Type
0,IUPUI,"415 Porto Alegre St, Indianapolis, IN 46202",Housing
1,The Speak Easy,"5255 Winthrop Ave #110, Indianapolis, IN 46220",Coworking
2,zWORKS,"85 E Cedar St #1502, Zionsville, IN 46077",Coworking
3,Launch Fishers,"12175 Visionary Way, Fishers, IN 46038",Coworking
4,Industrious Mass Ave,"350 Massachusetts Ave Suite 300, Indianapolis,...",Coworking
5,Launch Indy,"525 S Meridian St, Indianapolis, IN 46225",Coworking

It looks like we're basically just given the options in this data set, but to start out let's check out the potential commute times for each of these businesses given the housing location. We will use the GoogleMaps API for this.

In [97]:
import geocoder

latlong = []

for row in df['Address']:
    latlong.append((geocoder.google(row, key="AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU")).latlng)
    
housing = geocoder.google(df_housing['Address'][0], key="AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU").latlng


df['Latlng'] = latlong
df_housing = df[df.Type == "Housing"]
df_coworking = df[df.Type == "Coworking"]

In [98]:
import googlemaps

gmaps = googlemaps.Client(key='AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU')
from datetime import datetime

time = []
distance = []


for x in df_coworking['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(x,housing,
                                     mode="driving",
                                     departure_time=now
                                    )
    distance.append(directions_result[0]['legs'][0]['distance']['text'])
    time.append(directions_result[0]['legs'][0]['duration']['text'])

In [99]:
time

['21 mins', '30 mins', '33 mins', '10 mins', '9 mins']

In [100]:
distance

['7.4 mi', '18.1 mi', '22.3 mi', '2.4 mi', '2.4 mi']

We see that some of these are closer than others to the housing location at IUPUI, but this is not the end-all be-all factor for decision making. Our goal is to minimize the total distance traveled, so let's check out where else these people might be going to. First, we should consider the makeup of a typical week. By the prompt, "A sample 10-week activities plan includes a weekly group dinner at different restaurants around Indianapolis, a biweekly sport, music, gaming, and art event, one big conference or Ted Talk event."

The major categories here are:
1. Restaurants
2. Sports
3. Music
4. Gaming
5. Art
6. Conference/Tedtalk

We will manually compile a list of these events from google/EventBrite/DowntownIndy. I looked into API calls to EventBrite to populate this list, but since EventBrite doesn't offer general restaurants we would still have to manually populate that category, and at that point it would introduce bias to the models to have some categories with strictly limited data and some categories with an abundance.

The list of events is imported below, with the category for each listed in the "category" column. In addition, we have set the 10-week period for filtering events to be from October 16 until December 25. This is out of convenience more than anything else, we must assume some time period in order to find concrete events, but we could change these bounds and our approach would work for any given period of time. I have not included physical dates for these events. The reason for this is time constraints, it took me many hours to simply make this excel document and I don't have time to make a system to identify date conflicts in proposed schedules.

In [101]:
df_events = pd.read_excel("events.xlsx")
latlong = []
for row in df_events.Address:
    latlong.append((geocoder.google(row, key="AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU")).latlng)

In [102]:
df_events['Latlng'] = latlong
df_events

,Category,Name,Address,Rating,Latlng
0,Restaurant,The Eagle,"310 Massachusetts Ave Indianapolis, IN 46204",4.5,"[39.7718129, -86.1539722]"
1,Restaurant,Goodwood Indy,"140 S Illinois St Indianapolis, IN 46225",4.2,"[39.7648517, -86.1603919]"
2,Restaurant,The Oakmont,"323 N Delaware St Indianapolis, IN 46204",4.8,"[39.7721472, -86.1537536]"
3,Restaurant,Tinker Street,"402 E 16th St Indianapolis, IN 46202",4.7,"[39.78857989999999, -86.15071239999999]"
4,Restaurant,Slapfish,"345 Massachusetts Ave Indianapolis, IN 46204",4.6,"[39.7718021, -86.153038]"
5,Restaurant,Modita,"850 Massachusetts Ave Ste 110 Indianapolis, IN...",4.5,"[39.7797598, -86.14338289999999]"
6,Restaurant,Livery,"720 N College Ave Indianapolis, IN 46202",4.7,"[39.7766812, -86.1456632]"
7,Restaurant,Bluebeard,"653 Virginia Ave Indianapolis, IN 46203",4.7,"[39.7575325, -86.1457865]"
8,Restaurant,Comida,"43 9th St Indianapolis, IN 46204",4.6,"[39.7790422, -86.1560489]"
9,Restaurant,Nada,"11 W Maryland St, Indianapolis, IN 46204",4.4,"[39.7654786, -86.15870129999999]"
10,Sports,WWE Smackdown,"125 S. Pennsylvania St. Indianapolis, IN 46204",4.7,"[39.76399079999999, -86.1555661]"
11,Sports,Pacers Game,"125 S Pennsylvania St, Indianapolis, IN 46204",4.7,"[39.76399079999999, -86.1555661]"
12,Sports,Colts Game,"500 S Capitol Ave, Indianapolis, IN 46225",4.7,"[39.7601007, -86.16388769999999]"
13,Sports,Indy Eleven Game,"1001 W New York St, Indianapolis, IN 46202",4.7,"[39.7712143, -86.1778779]"
14,Sports,Big 10 championship fanfest,"100 S Capitol Ave, Indianapolis, IN 46225",4.5,"[39.7645005, -86.1643665]"
15,Art,Black&Blue- On the road with Jack White,"735 W. New York St. Indianapolis, IN 46202",4.8,"[39.7710371, -86.17147480000001]"
16,Art,IRT Christmas Carol,"140 W Washington St, Indianapolis, IN 46204",4.7,"[39.7674447, -86.1610278]"
17,Art,Charlie and the Chocolate Factory,"502 N. New Jersey St., Indianapolis, IN 46204",4.4,"[39.7744299, -86.15109]"
18,Art,Ghost Stories at Tibbs Drive-In,"480 S Tibbs Ave Indianapolis, IN 46241",4.6,"[39.759303, -86.2178764]"
19,Art,Newfields,"4000 N Michigan Rd, Indianapolis, IN 46208",4.7,"[39.8260205, -86.1857647]"
20,Games,Wednesday Night trivia,"1701 Gent Ave. Indianapolis, IN 46202",5.0,"[39.79051, -86.182467]"
21,Games,Indoor Karting,"1067 Main St. Speedway, IN 46224",4.5,"[39.78136749999999, -86.2403812]"
22,Games,Duckpin Bowling,1105 Prospect St. Fountain Square Theatre Buil...,4.5,"[39.7522223, -86.1396236]"
23,Games,Whodunit? Murder mystery at the HIS,"450 W Ohio St, Indianapolis, IN 46202",4.7,"[39.7703294, -86.1661604]"
24,Games,Escape Room Indy,"200 S Meridian St STE 220, Indianapolis, IN 46225",4.8,"[39.7639469, -86.1584453]"
25,Music,Vineyard Live Music,"9061 N. 700 W. McCordsville, IN 46055",4.4,"[39.9139389, -85.9378974]"
26,Music,Andrew McMahon- 3 Pianos Tour,"502 N. New Jersey St., Indianapolis, IN 46204",4.4,"[39.7744299, -86.15109]"
27,Music,$SUICIDEBOYS$ Tour- Chief Keef,"801 W. Washington St., Indianapolis, IN 46204",4.6,"[39.7665145, -86.17060599999999]"
28,Music,John Legend Tour,"1 Carter Green, Carmel, IN 46032",4.7,"[39.9699904, -86.1302542]"
29,Music,Black Violin Concerto,"4602 Sunset Ave, Indianapolis, IN 46208",4.7,"[39.8403526, -86.1699304]"
30,Conference,Indiana Conference for Women,"100 S Capitol Ave, Indianapolis, IN 46225",4.5,"[39.7645005, -86.1643665]"

This list of events is far from exhaustive and if I had more time I would look into ways to automate the process for all categories to populate good data, but I'm more interested in demonstrating ability to analyze this data and solve a concrete problem than demonstrating ability to use API calls to populate a dataset and don't have time to do it all. It is not exhaustive, but you can see from the map below that the 31 event venues in this dataset are reasonably well-dispersed over the Indianapolis metropolitan area. They are definitely centered downtown, but so are most events.

In [103]:
import gmaps as gmap

gmap.configure(api_key = 'AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU')

df_restaurants = df_events[df_events.Category == 'Restaurant']
df_sports = df_events[df_events.Category == 'Sports']
df_art = df_events[df_events.Category == 'Art']
df_music = df_events[df_events.Category == 'Music']
df_games = df_events[df_events.Category == 'Games']
df_conference = df_events[df_events.Category == 'Conference']



housing_layer = gmap.symbol_layer(
    df_housing['Latlng'], fill_color='aqua', stroke_color='aqua', scale=2
)

coworking_layer = gmap.symbol_layer(
    df_coworking['Latlng'], fill_color='red', stroke_color='red', scale=4
)
sports_layer = gmap.symbol_layer(
    df_sports['Latlng'], fill_color='blue', stroke_color='blue', scale=2
)
restaurant_layer = gmap.symbol_layer(
    df_restaurants['Latlng'], fill_color='green', stroke_color='green', scale=2
)
art_layer = gmap.symbol_layer(
    df_art['Latlng'], fill_color='purple', stroke_color='purple', scale=2
)
games_layer = gmap.symbol_layer(
    df_games['Latlng'], fill_color='gray', stroke_color='gray', scale=2
)
music_layer = gmap.symbol_layer(
    df_music['Latlng'], fill_color='black', stroke_color='black', scale=2
)
conference_layer = gmap.symbol_layer(
    df_conference['Latlng'], fill_color='white', stroke_color='white', scale=2
)
coord = (39.83,-86.17)
fig = gmap.figure(center = coord, zoom_level = 10)
fig.add_layer(coworking_layer)
fig.add_layer(housing_layer)
fig.add_layer(sports_layer)
fig.add_layer(music_layer)
fig.add_layer(games_layer)
fig.add_layer(restaurant_layer)
fig.add_layer(conference_layer)
fig.add_layer(art_layer)

In [104]:
fig

Figure(layout=FigureLayout(height='420px'))

Here the big red dots correspond to the housing candidates, and the smaller multicolored events to various events. From this picture it's pretty clear that the lower 2 candidates are much closer to the average event than the upper 3. A larger dataset would give the appearance of a more balanced spread of location, since more dots would be on the map, but the ratio heavily skewed in favor of downtown events will almost certainly have the bottom 2 locations retain their superiority in terms of distance in the average case.

Let's first discuss which kinds of data we will use to make these claims. For each route between two points, google gives us a distance and the expected transit time given current traffic patterns. We will prioritize the distance data over the time data, as the time data is likely skewed by the time of day the script runs (running it at night would give travel times without traffic, running it during the day would give times with traffic), and so this would be unreliable for locations hampered by traffic. In addition, Xterns may be on foot going to many of these places downtown, so street distance (ignoring traffic) would be a better estimate of travel time. Lastly, to simplify calculations, we will be working with one-way distances. It shouldn't change any ranking, just scales the numbers down a bit.

Now that we have a list of activities, we can begin to find the average distance travelled from each location. However, given our limited hand-scraped data set, with barely enough entries to populate a full 10-week schedule, it might be better to transform this problem to a lower dimensional space. Rather than thinking of it as minimizing the average distance traveled over any full 10-week period, we can simply minimize the average distance traveled during the average week. Therefore, our strategy is relatively simple: given any 1-week period, by definition with an average of 1 weekly dinner, .5 sports events, .5 arts events, .5 music events, .5 game events, and .1 conference, select the location with the minimum distance travelled to these events. We can express this mathematically as $x_{dinner} + \frac{x_{sports}}{2} + \frac{x_{arts}}{2} + \frac{x_{music}}{2} + \frac{x_{game}}{2} + \frac{x_{conference}}{10}$, where the various $x_{subscript}$ denote the distance from a given coworking location candidate to each activity.

Now, we need to use the data we have to find these $x$. The naiive approach would be to find the distance to each item in the category and average the distances. Alternatively, we can weight likeliood of selection by quality, making the higher-rated locations more likely to be selected. This seems plausible to me, without given prior knowledge of event quality it makes sense to use internet reviews as a benchmark when picking a schedule. We will use google reviews for this purpose. If we are not able to find a rating for a venue, this will not count for or against its chances and it will be assigned a probability of $\frac{1}{n}$ rather than weighted. This approach would work better with a larger data set, but this notebook should convey the general idea of how this approach would work with good data with a healthy sample size, which I don't know how we would be supposed to acquire given the time restrictions of this project. Instead, I chose to focus on the analysis of the data we do have to highlight the spirit of the optimization problem inspired by the prompt. 

Now, let's compute these distances for each coworking location. Starting with location 1, we have the distance from this location to each element of each category, in turn, in the script below.

In [105]:
df_restaurants

,Category,Name,Address,Rating,Latlng
0,Restaurant,The Eagle,"310 Massachusetts Ave Indianapolis, IN 46204",4.5,"[39.7718129, -86.1539722]"
1,Restaurant,Goodwood Indy,"140 S Illinois St Indianapolis, IN 46225",4.2,"[39.7648517, -86.1603919]"
2,Restaurant,The Oakmont,"323 N Delaware St Indianapolis, IN 46204",4.8,"[39.7721472, -86.1537536]"
3,Restaurant,Tinker Street,"402 E 16th St Indianapolis, IN 46202",4.7,"[39.78857989999999, -86.15071239999999]"
4,Restaurant,Slapfish,"345 Massachusetts Ave Indianapolis, IN 46204",4.6,"[39.7718021, -86.153038]"
5,Restaurant,Modita,"850 Massachusetts Ave Ste 110 Indianapolis, IN...",4.5,"[39.7797598, -86.14338289999999]"
6,Restaurant,Livery,"720 N College Ave Indianapolis, IN 46202",4.7,"[39.7766812, -86.1456632]"
7,Restaurant,Bluebeard,"653 Virginia Ave Indianapolis, IN 46203",4.7,"[39.7575325, -86.1457865]"
8,Restaurant,Comida,"43 9th St Indianapolis, IN 46204",4.6,"[39.7790422, -86.1560489]"
9,Restaurant,Nada,"11 W Maryland St, Indianapolis, IN 46204",4.4,"[39.7654786, -86.15870129999999]"

First, let's make a list of the distances from location 1 to each coordinate on the list.

In [106]:
location = [0,0,0,0,0,0]
location[0] = df_coworking['Latlng'][1]

In [107]:
distance_rest = [[],[],[],[],[]]
for row in df_restaurants['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(row,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
    distance_rest[0].append(directions_result[0]['legs'][0]['distance']['text'])

In [108]:
for i in range(len(distance_rest[0])):
    distance_rest[0][i] = float(str.split(distance_rest[0][i])[0])

Now to compute the weighted average, we will simply multiply each term by its corresponding rating, and then divide each by the normalizing constant of the sum of the ratings.

In [109]:
mean = 0
for i in range(len(distance_rest[0])):
    mean += (distance_rest[0][i]*df_restaurants.Rating[i])
    
mean = mean/sum(df_restaurants.Rating)

In [110]:
restaurant_distances = []
restaurant_distances.append(mean)

Now that we have this weighted average for restaurants for location 1, let's repeat the process for each other category.

In [111]:
df_sports

,Category,Name,Address,Rating,Latlng
10,Sports,WWE Smackdown,"125 S. Pennsylvania St. Indianapolis, IN 46204",4.7,"[39.76399079999999, -86.1555661]"
11,Sports,Pacers Game,"125 S Pennsylvania St, Indianapolis, IN 46204",4.7,"[39.76399079999999, -86.1555661]"
12,Sports,Colts Game,"500 S Capitol Ave, Indianapolis, IN 46225",4.7,"[39.7601007, -86.16388769999999]"
13,Sports,Indy Eleven Game,"1001 W New York St, Indianapolis, IN 46202",4.7,"[39.7712143, -86.1778779]"
14,Sports,Big 10 championship fanfest,"100 S Capitol Ave, Indianapolis, IN 46225",4.5,"[39.7645005, -86.1643665]"

In [112]:
distance_sports = [[],[],[],[],[]]
for row in df_sports['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(row,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
    distance_sports[0].append(directions_result[0]['legs'][0]['distance']['text'])

In [113]:
for i in range(len(distance_sports[0])):
    distance_sports[0][i] = float(str.split(distance_sports[0][i])[0])

In [114]:
mean = 0
for i in range(len(distance_sports[0])):
    mean += (distance_sports[0][i]*df_sports.Rating[10+i])
    
mean = mean/sum(df_sports.Rating)

In [115]:
sports_distances = []
sports_distances.append(mean)

In [116]:
df_art

,Category,Name,Address,Rating,Latlng
15,Art,Black&Blue- On the road with Jack White,"735 W. New York St. Indianapolis, IN 46202",4.8,"[39.7710371, -86.17147480000001]"
16,Art,IRT Christmas Carol,"140 W Washington St, Indianapolis, IN 46204",4.7,"[39.7674447, -86.1610278]"
17,Art,Charlie and the Chocolate Factory,"502 N. New Jersey St., Indianapolis, IN 46204",4.4,"[39.7744299, -86.15109]"
18,Art,Ghost Stories at Tibbs Drive-In,"480 S Tibbs Ave Indianapolis, IN 46241",4.6,"[39.759303, -86.2178764]"
19,Art,Newfields,"4000 N Michigan Rd, Indianapolis, IN 46208",4.7,"[39.8260205, -86.1857647]"

In [117]:
distance_art = [[],[],[],[],[]]
for row in df_art['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(row,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
    distance_art[0].append(directions_result[0]['legs'][0]['distance']['text'])

In [118]:
for i in range(len(distance_art[0])):
    distance_art[0][i] = float(str.split(distance_art[0][i])[0])

In [119]:
mean = 0
for i in range(len(distance_art[0])):
    mean += (distance_art[0][i]*df_art.Rating[15+i])
    
mean = mean/sum(df_art.Rating)

In [120]:
art_distances = []
art_distances.append(mean)

In [121]:
distance_games = [[],[],[],[],[]]
for row in df_games['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(row,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
    distance_games[0].append(directions_result[0]['legs'][0]['distance']['text'])

In [122]:
for i in range(len(distance_games[0])):
    distance_games[0][i] = float(str.split(distance_games[0][i])[0])

In [123]:
mean = 0
for i in range(len(distance_games[0])):
    mean += (distance_games[0][i]*df_games.Rating[20+i])
    
mean = mean/sum(df_games.Rating)

In [124]:
games_distances = []
games_distances.append(mean)

In [125]:
distance_music = [[],[],[],[],[]]
for row in df_music['Latlng']:
    now = datetime.now()
    directions_result = gmaps.directions(row,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
    distance_music[0].append(directions_result[0]['legs'][0]['distance']['text'])

In [126]:
for i in range(len(distance_music[0])):
    distance_music[0][i] = float(str.split(distance_music[0][i])[0])

In [127]:
mean = 0
for i in range(len(distance_music[0])):
    mean += (distance_music[0][i]*df_music.Rating[25+i])
    
mean = mean/sum(df_music.Rating)

In [128]:
music_distances = []
music_distances.append(mean)

In [129]:
df_conference

,Category,Name,Address,Rating,Latlng
30,Conference,Indiana Conference for Women,"100 S Capitol Ave, Indianapolis, IN 46225",4.5,"[39.7645005, -86.1643665]"

Since we only have one conference, this is a trivial case where the mean distance for the category will just be the distance from each location to this conference. The below script finds this for location 1.

In [130]:
now = datetime.now()
directions_result = gmaps.directions(df_conference['Latlng'][30],location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
dist = directions_result[0]['legs'][0]['distance']['text']
conference_distances = []
conference_distances.append(float(str.split(dist)[0]))

Now that we have gone through the motions of creating our $x$ for each category, we can compute the expected distance travelled from location 1 by following the expression from above. Substituting our values from above, we have:

In [131]:
expectation = restaurant_distances[0] + .5*sports_distances[0]+ .5*art_distances[0] + .5*music_distances[0] + .5*games_distances[0] + .1*conference_distances[0]

In [132]:
restaurant_distances[0]

5.869584245076587

This is the expected distance travelled to events on the schedule, but we also have to commute to the housing location 5 days a week. Therefore, we must add 5 of these onto the distance, as shown in the below script.

In [133]:
housing = geocoder.google(df_housing['Address'][0], key="AIzaSyCwat20hKRIFms7igGMAFjTuplaRozFoMU").latlng
now = datetime.now()
directions_result = gmaps.directions(housing,location[0],
                                     mode="driving",
                                     departure_time=now
                                    )
commute = (directions_result[0]['legs'][0]['distance']['text'])
commute = float(str.split(commute)[0])

In [134]:
commute

7.3

In [135]:
total_distance = []
total_distance.append(expectation + 5*commute)
total_distance[0]

58.05142512768499

After all that work, this slightly-under-58-mile total is our final product for location 1, the total expected distance travelled in an average week spent at location 1 during the 10-week period. Now, let's find these expected distances for the other 4 locations as well. Once we have this, the smallest total distance among locations will be crowned the most central location, and will be our selection as the best coworking space to choose.

In [136]:
distance_rest = [[],[],[],[],[]]
distance_sports = [[],[],[],[],[]]
distance_art = [[],[],[],[],[]]
distance_games = [[],[],[],[],[]]
distance_music = [[],[],[],[],[]]

restaurant_distances = []
sports_distances = []
art_distances = []
games_distances = []
music_distances = []
conference_distances = []

expectation = [0,0,0,0,0]
commute = [0,0,0,0,0]
total_distance = [0,0,0,0,0]

    
for j in range(5):
    location[j] = df_coworking['Latlng'][j+1]
    
    ###Restaurants#################################################################################################
    for row in df_restaurants['Latlng']:
        now = datetime.now()
        directions_result = gmaps.directions(row,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
        distance_rest[j].append(directions_result[0]['legs'][0]['distance']['text'])
        
    for i in range(len(distance_rest[j])):
        distance_rest[j][i] = float(str.split(distance_rest[j][i])[0])
    
    mean = 0
    for i in range(len(distance_rest[j])):
        mean += (distance_rest[j][i]*df_restaurants.Rating[i]) 
    mean = mean/sum(df_restaurants.Rating)
    restaurant_distances.append(mean)
    
    ###And now for sports#########################################################################################
    for row in df_sports['Latlng']:
        now = datetime.now()
        directions_result = gmaps.directions(row,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
        distance_sports[j].append(directions_result[0]['legs'][0]['distance']['text'])
    
    for i in range(len(distance_sports[j])):
        distance_sports[j][i] = float(str.split(distance_sports[j][i])[0])
        
    mean = 0
    for i in range(len(distance_sports[j])):
        mean += (distance_sports[j][i]*df_sports.Rating[10+i])
    mean = mean/sum(df_sports.Rating)
    sports_distances.append(mean)
    
    ###Art########################################################################################################
    for row in df_art['Latlng']:
        now = datetime.now()
        directions_result = gmaps.directions(row,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
        distance_art[j].append(directions_result[0]['legs'][0]['distance']['text'])
    
    for i in range(len(distance_art[j])):
        distance_art[j][i] = float(str.split(distance_art[j][i])[0])
    
    mean = 0
    for i in range(len(distance_art[j])):
        mean += (distance_art[j][i]*df_art.Rating[15+i])  
    mean = mean/sum(df_art.Rating)
    art_distances.append(mean)
    
    ###Games #####################################################################################################
    for row in df_games['Latlng']:
        now = datetime.now()
        directions_result = gmaps.directions(row,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
        distance_games[j].append(directions_result[0]['legs'][0]['distance']['text'])
    for i in range(len(distance_games[j])):
        distance_games[j][i] = float(str.split(distance_games[j][i])[0])
        
    mean = 0
    for i in range(len(distance_games[j])):
        mean += (distance_games[j][i]*df_games.Rating[20+i])
    mean = mean/sum(df_games.Rating)
    games_distances.append(mean)
    
    ###Music ###################################################################################################
    
    for row in df_music['Latlng']:
        now = datetime.now()
        directions_result = gmaps.directions(row,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
        distance_music[j].append(directions_result[0]['legs'][0]['distance']['text'])
        
    for i in range(len(distance_music[j])):
        distance_music[j][i] = float(str.split(distance_music[j][i])[0])
    
    mean = 0
    for i in range(len(distance_music[j])):
        mean += (distance_music[j][i]*df_music.Rating[25+i]) 
    mean = mean/sum(df_music.Rating)
    music_distances.append(mean)
    
    ###Conference#################################################################################################
    now = datetime.now()
    directions_result = gmaps.directions(df_conference['Latlng'][30],location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
    dist = directions_result[0]['legs'][0]['distance']['text']
    conference_distances.append(float(str.split(dist)[0]))
    
    ###Expectation########################################################################################
    expectation[j] = restaurant_distances[j] + .5*sports_distances[j]+ .5*art_distances[j] + .5*music_distances[j] + .5*games_distances[j] + .1*conference_distances[j]
    now = datetime.now()
    directions_result = gmaps.directions(housing,location[j],
                                     mode="driving",
                                     departure_time=now
                                    )
    commute[j] = (directions_result[0]['legs'][0]['distance']['text'])
    commute[j] = float(str.split(commute[j])[0])
    
    total_distance[j]=(expectation[j] + 5*commute[j])

In [137]:
total_distance

[58.05142512768499,
 139.32591840370236,
 175.1530536160911,
 48.597371298367754,
 22.532153197615102]

In [138]:
import numpy as np
minimum = min(total_distance)
argmin = np.argmin(total_distance)

In [139]:
minimum

22.532153197615102

In [140]:
argmin

4

Here, we can clearly see that the minimum distance, by, far, is traveled by selecting the 5th location, Launch indy. We barely have enough events to make a full 10-week schedule, but here's what we would suggest, in addition to selecting Launch Indy as the coworking space:

Week 1: The Eagle as group dinner, WWE Smackdown and Black&Blue